body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lato", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 70px;
}
.mihealth {
  font-weight: 900;
  font-size: x-large;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  font-size: large;
}
a {
  color: black;
  text-decoration: none;
  padding-left: 30px;
}
main {
  display: flex;
  background-color: lightgrey;
  padding: 40px;
}
.container {
  display: flex;
  width: 75%;
}
img {
  max-width: 300px;
  height: 500px;
  object-fit: cover;
  padding: 0px 5px;
}
.beHealthy {
  padding: 30px;
  width: 25%;
}
h1 {
  font-size: 50px;
  font-weight: 700;
}
.shrimp img {
  background-position: 50% 50%;
  max-width: 300px;
}
